ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 100px;
  }

body #index {
  
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}  

#editform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

#judul, #pesan, #juduledit, #pesanedit {
    display: flex;
    flex-direction:column;
    align-items: center;
}

#judul input, #pesan textarea  {
    width: 25%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#juduledit input, #pesanedit textarea {
  width: 200%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#judul label, #pesan label, #juduledit label, #pesanedit label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#pesan textarea, #pesanedit textarea {
  
    height: 100px;
}

#pesan input[type="submit"] {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#pesan, #pesanedit {
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-bottom: 25px;
}

.blog li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    background-color: #007bff;
}

.blog li  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;

}

.blog h2{
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

#editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color:white;
  background-color: black;
}
